@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-Regular.ttf") format("truetype") ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merri';
    src: url("../fonts/Merriweather-Regular.ttf") format("truetype") ;
    font-weight: normal;
    font-style: normal;
}

$white : #FCFCFC;
$rubik: 'Rubik';
$merri: 'Merri';
$dark-blue: #080029;
$blue: #0F0049;
$active-color: #150068;